APP_ENV=development
APP_DATABASE_PATH=data/app.db
APP_ARTIFACT_ROOT=artifacts
APP_UPLOAD_MAX_BYTES=104857600
APP_AUDIO_MIN_SECONDS=30
APP_AUDIO_MAX_SECONDS=60
APP_CUT_MAX_COUNT=12
APP_VIDEO_CONCURRENCY=2
APP_ASSET_RETENTION_DAYS=30
APP_SESSION_TTL_SECONDS=604800
APP_INVITE_CODE_HASHES=

STORYBOARD_PROVIDER=openai_compatible
STORYBOARD_API_KEY=
STORYBOARD_BASE_URL=
STORYBOARD_MODEL=
STORYBOARD_TIMEOUT_SECONDS=60
STORYBOARD_MAX_ATTEMPTS=3

VIDEO_PROVIDER=dashscope_wan
VIDEO_API_KEY=
VIDEO_BASE_URL=https://dashscope.aliyuncs.com
VIDEO_MODEL=wanx2.1-t2v-turbo
VIDEO_REQUEST_TIMEOUT_SECONDS=30
VIDEO_JOB_DEADLINE_SECONDS=1200
VIDEO_POLL_INTERVAL_SECONDS=10

TRANSCRIPTION_PROVIDER=disabled
TRANSCRIPTION_API_KEY=
TRANSCRIPTION_BASE_URL=
TRANSCRIPTION_MODEL=

RENDER_JOB_DEADLINE_SECONDS=600
