@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/l/font?kit=k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaGwHCnYxVORdTfpTxcNPUoq5S_iDrmouoGriPSoqRgEIZ1X3eUJH1NvejenuqBLpWZMMKqMiPRRDxOBAEe1O24zfpxftOK23Xv-0Ybjj0r7dyn-NVQ7aFlA&skey=cf0bb10b5602fdc3&v=v40) format('truetype');
}
